node_modules
npm-debug.log
.git
.gitignore
.editorconfig
.eslintrc.js
.prettierrc
jsconfig.json
nodemon.json
.env
.env.example
docker-compose.yml
Dockerfile
.dockerignore
README.md
CONTRIBUTING.md
CHANGELOG.md
docs/
*.md
!chem/PROJECT_README.md
!chem/README.md